<div class="user col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <div>
    <h4><%= current_user.name%></h4>
    <h5><%= link_to "Edit Profile", edit_user_path(current_user), class: "text-right" %></h5>
    <%= image_tag current_user.image, class: "profile-img"%>
  </div>
  <div class="interests">
    <h3>My Interests:</h3>
    <% current_user.courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="user-course text-center">
          <%= image_tag(course.image)%>
          <h5><%= course.title%></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="recomendations col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <h2 class="text-center">Related Courses</h2>
  <div class="recommends">
    <% @recs.each do |rec| %>
      <%= link_to course_path(rec) do %>
        <div class="user-course col-xs-10 col-sm-10 col-md-6 col-lg-6">
          <%= image_tag(rec.image, class: "img-responsive") %>
          <h5><%= rec.title%></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>