<div class="users row">
  <div class="user col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div>
      <%= image_tag current_user.image, class: "profile-img"%>
      <h3 class="text-center"><span class="pull-left"><%= current_user.name%></span><span class="pull-right"><%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default edi" %></span></h3>
    </div>
  </div>
  <div class="recommendations col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="interests">
      <h3 class="text-center">My Interests</h3>
      <% current_user.courses.each do |course| %>
        <div class="user-course col-md-6 text-center">
          <%= link_to course_path(course) do %>
            <%= image_tag(course.image)%>
            <h4><%= course.title%></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<h2 class="text-center">Recommended Courses</h2>
<% if @recs%>
  <%= render 'courses/recommendations'%>
<% end %>