<h2 class="text-center"><%= @course.title%></h2>
<div class="row">
  <div class="course-page col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <%= image_tag @course.image, class: "img-responsive"%>
  </div>
  <div class=" col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <p><%= @course.description.html_safe%></p>
    <% if @course.has_cert %>
      <p class="text-center">Certificate upon completion:<span class="glyphicon glyphicon-ok"></span></p>
    <% elsif @course.has_cert == false %>
      <p class="text-center">Certificate upon completion:<span class="glyphicon glyphicon-remove"></span></p>
    <% end %>
    <div>
      <p class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
        Add to Interests: <%= link_to interests_path(id: @course.id), method: :post, controller: :users do %>
          <span class="glyphicon glyphicon-check"></span>
        <% end %>
     </p>
      <h4 class="text-right col-xs-6 col-sm-6 col-md-6 col-lg-6">Sign Up at: <%= link_to @course.provider, @course.course_url%></h4>
    </div>
  </div>
</div>
<hr style="border-top: 2px solid white;">
<h2 class="text-center">Related Courses</h2>
<div id="course-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @recs.length.times do |i| %>
      <li data-target="#course-carousel" data-slide-to="<%= i %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @recs.each do |rec| %>
      <% if rec == @recs[0]%>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <%= link_to course_path(rec) do %>
          <%= image_tag rec.image, class: "carousel-img"%>
        <% end %>
        <div class="carousel-caption">
          <h3><%= rec.title %></h3>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#course-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#course-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>