<!DOCTYPE html>
<html>
  <head>
    <title>LearnIT</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'learn-fav.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Electrolize|Oranienba" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header"> 
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu clearfix" aria-labelledby="dropdownMenu1">
            <% if current_user %>
              <li class="text-center"><%= link_to "Profile", user_path(current_user) %></li>
              <li class="text-center"><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li class="text-center"><a href="/login">Login/Signup</a></li>
            <% end %>
          </ul>
        </div>
        <div class="search text-center">
          <form id="search">
            <input type="string" name="q" class="form-control search-input" placeholder="find a class!">
            <input type="submit" value="Submit" class="btn btn-default search-submit">
          </form>
        </div>
    </header>
    <a href="/search">
      <%= image_tag("banner2.png", class: "banner img-responsive")%>
    </a>
    <% flash.each do |name, message| %>
    <% if flash[:success] %>
      <div class="flash text-center bg-success">
        <%= message %>
      </div>
    <% else %>
      <div class="flash text-center bg-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
